<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>incluirVaga</servlet-name>
        <servlet-class>incluirVaga</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>incluirVaga</servlet-name>
        <url-pattern>/incluirVaga</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
        <servlet-name>atualizaParecer</servlet-name>
        <servlet-class>atualizaParecer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>atualizaParecer</servlet-name>
        <url-pattern>/atualizaParecer</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
        <servlet-name>incluirEstados</servlet-name>
        <servlet-class>incluirEstados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>incluirEstados</servlet-name>
        <url-pattern>/incluirEstados</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>suspenderVaga</servlet-name>
        <servlet-class>suspenderVaga</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>suspenderVaga</servlet-name>
        <url-pattern>/suspenderVaga</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
        <servlet-name>candidatarVaga</servlet-name>
        <servlet-class>candidatarVaga</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>candidatarVaga</servlet-name>
        <url-pattern>/candidatarVaga</url-pattern>
    </servlet-mapping>
    
    
       <servlet>
        <servlet-name>incluiExperiencia</servlet-name>
        <servlet-class>incluiExperiencia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>incluiExperiencia</servlet-name>
        <url-pattern>/incluiExperiencia</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>editarPerfil</servlet-name>
        <servlet-class>editarPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editarPerfil</servlet-name>
        <url-pattern>/editarPerfil</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>incluirCurriculo</servlet-name>
        <servlet-class>incluirCurriculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>incluirCurriculo</servlet-name>
        <url-pattern>/incluirCurriculo</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>excluir</servlet-name>
        <servlet-class>excluir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>excluir</servlet-name>
        <url-pattern>/excluir</url-pattern>
    </servlet-mapping>
    
    
    
    
    
     <servlet>
        <servlet-name>incluirInstituicao</servlet-name>
        <servlet-class>incluirInstituicao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>incluirInstituicao</servlet-name>
        <url-pattern>/incluirInstituicao</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>incluirCurso</servlet-name>
        <servlet-class>incluirCurso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>incluirCurso</servlet-name>
        <url-pattern>/incluirCurso</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>excluirCurso</servlet-name>
        <servlet-class>excluirCurso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>excluirCurso</servlet-name>
        <url-pattern>/excluirCurso</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
        <servlet-name>incluirCidade</servlet-name>
        <servlet-class>incluirCidade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>incluirCidade</servlet-name>
        <url-pattern>/incluirCidade</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>incluirAdministrador</servlet-name>
        <servlet-class>incluirAdministrador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>incluirAdministrador</servlet-name>
        <url-pattern>/incluirAdministrador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>excluirAdministrador</servlet-name>
        <servlet-class>excluirAdministrador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>excluirAdministrador</servlet-name>
        <url-pattern>/excluirAdministrador</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>excluirCidade</servlet-name>
        <servlet-class>excluirCidade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>excluirCidade</servlet-name>
        <url-pattern>/excluirCidade</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>excluirCargo</servlet-name>
        <servlet-class>excluirCargo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>excluirCargo</servlet-name>
        <url-pattern>/excluirCargo</url-pattern>
    </servlet-mapping>
    
    
    
        <servlet>
        <servlet-name>incluirCargo</servlet-name>
        <servlet-class>incluirCargo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>incluirCargo</servlet-name>
        <url-pattern>/incluirCargo</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
